# Ignore this files since they are reindented with json.dump() and that does not
# match the prettier format.
.cookiecutter.json
.cruft.json

# json files shall have four spaces for indentation.
.devcontainer/devcontainer.json
